@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: "Montserrat Alternates", sans-serif;
  background-repeat: repeat;
  background-size: 200% 200%;

  @media  (min-1024px) {
    background-image: linear-gradient(
        45deg,
        #ff9a9e 0%,
        #fad0c4 99%,
        #fad0c4 100%
      );
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  padding: 30px 10px;
  gap: 20px;

  @media (min-width: 1024px) {
    flex-direction: row;
    max-width: 700px;
    align-items: stretch;
    padding: 18px 10px;
  }
}

.text-box {
  background-color: rgba(243, 245, 247, 0.92);
  padding: 20px;
  border-radius: 10px;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.input-lottie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.input-lottie button {
  width: 100%;
}

.lottieH3 {
  color: #48100d;
}

.input-lottie {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.input-lottie input {
  border: none;
  border-radius: 5px;
  outline: 1px #ff9a9e solid;
  padding: 25px 15px;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  width: 100%;
  color: #48100d;
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.input-box {
  background-color: #500346c9;
  padding: 35px 20px;
  gap: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 50%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: rgba(243, 245, 247);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #ff9a9e;
  border: 1px #ff9a9e solid;
  text-transform: uppercase;
  transition: ease-in-out 0.5s;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: #48100d;
}

button:hover {
  background-color: transparent;
  border: 1px #ff9a9e solid;
}

.input-box button:hover {
  background-color: transparent;
  border: 1px #ff9a9e solid;
  color: rgba(243, 245, 247);
}
h1 {
  font-size: 50px;
  color: #500346;
}

#accordionContent {
  display: none;
}

#accordionHeader {
  cursor: pointer;
}

.show {
  display: block;
}

#accordionSection p {
  display: none;
}

#accordionSection.active p {
  display: block;
  font-size: 14px;
}

.accordion-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.accordion-div h3 {
  text-decoration: underline;
  font-weight: 500;
  color: #48100d;
}

img {
  width: 50px;
  transition: ease-in-out 0.5s;
  opacity: 1;
}

img:hover {
  transform: rotate(90deg);
}

#infoDisplay {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2px 0;
  line-height: 25px;
  font-size: 14px;
}

select {
  background-color: #500346c9;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: rgba(243, 245, 247);
  outline: white 1px solid;
}

h3 {
    font-weight: 500;
    font-size: 16px;
}